{% extends 'base.html' %}


{% block extra_css %}
<link rel="stylesheet" href="{{MEDIA_PREFIX}}css/main.css">
{% endblock extra_css %}


{% block title %}
{{title}}
{% endblock title %}


{% block description %}
    {{description}}
{% endblock description %}
    


{% block content %}
<header>
    <div class="container">
        <h1>Proyectos de Hector</h1>
    </div>
</header>

<main>
    <div class="container">
        <h2>Proyecto</h2>
        <section>
            <h2>{{title}}</h2>
            <a href="https://{{url}}" target="_blank">Ver</a>
            <p>{{description}}</p>
            <img src="{{MEDIA_PREFIX}}images/{{image_url}}" alt="{{image_alt}}" width="800" height="450">
            {% if github_repo %}<a href="https://github.com/HectorFranc/{{github_repo}}">Github</a>{% endif %}
        </section>
    </div>
</main>

{% endblock content %}
    